@page
@model LibApp.Pages.Index1Model
@{
}


<form>
	<label for="fname">ISBN:</label><br>
	<input type="text" id="fname" name="fname" placeholder="isbn"><br>
	<label for="lname">Title:</label><br>
	<input type="text" id="Author" name="lname" placeholder="title"><br>
	<label for="lname">Category/Genre:</label><br>
	<input type="text" id="Author" name="lname" placeholder="category">
</form>
